{% extends "layout.html" %}
{% block title %}Edit movie{% endblock %}
{% block content %}
    <h1 class="title">Edit Swimmer</h1>

    <form action="" method="post" name="movie_edit">
      <div class="field">
        <label for="First Name" class="label">First Name</label>
        <div class="control">
          <input type="text" name="fname" class="input" required="required"/>
        </div>
      </div>

      <div class="field">
        <label for="Last Name" class="label">Last Name</label>
        <div class="control">
          <input type="text" name="lname" class="input"/>
        </div>
      </div>

        <div class="field">
        <label for="Level" class="label">Level</label>
        <div class="control">
          <input type="text" name="level" class="input"/>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}